In [1]:
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
warnings.filterwarnings("ignore", message="numpy.ufunc size changed")

In [2]:
from vanna.ollama import Ollama
from vanna.chromadb import ChromaDB_VectorStore

In [3]:
class MyVanna(ChromaDB_VectorStore,Ollama):
    def __init__(self,config=None):
        ChromaDB_VectorStore.__init__(self, config=config)
        Ollama.__init__(self, config=config)

vn = MyVanna(config={'model':'llama3.1'})

In [4]:
vn.connect_to_sqlite('olist.sqlite')

## Training

In [5]:
df_ddl = vn.run_sql("select type, sql from sqlite_master where sql is not null")
for ddl in df_ddl['sql'].to_list(): #This is going to get the schema of the tables present in the database and we are going to train on that
    vn.train(ddl=ddl)

Adding ddl: CREATE TABLE "product_category_name_translation" (
"product_category_name" TEXT,
  "product_category_name_english" TEXT
)

Add of existing embedding ID: 2132c80d-07a5-53e8-adf5-f9564f042130-ddl
Insert of existing embedding ID: 2132c80d-07a5-53e8-adf5-f9564f042130-ddl
Add of existing embedding ID: d14c24c1-1f4e-5060-a169-994fa192ed9d-ddl
Insert of existing embedding ID: d14c24c1-1f4e-5060-a169-994fa192ed9d-ddl

Adding ddl: CREATE TABLE "sellers" (
"seller_id" TEXT,
  "seller_zip_code_prefix" INTEGER,
  "seller_city" TEXT,
  "seller_state" TEXT
)
Adding ddl: CREATE TABLE "customers" (
"customer_id" TEXT,
  "customer_unique_id" TEXT,
  "customer_zip_code_prefix" INTEGER,
  "customer_city" TEXT,
  "customer_state" TEXT
)

Add of existing embedding ID: b6c9016c-e2ab-5aea-a11d-1864b700f785-ddl
Insert of existing embedding ID: b6c9016c-e2ab-5aea-a11d-1864b700f785-ddl
Add of existing embedding ID: 48aae275-6e5d-527b-b7bd-4f174b991326-ddl
Insert of existing embedding ID: 48aae275-6e5d-527b-b7bd-4f174b991326-ddl

Adding ddl: CREATE TABLE "geolocation" (
"geolocation_zip_code_prefix" INTEGER,
  "geolocation_lat" REAL,
  "geolocation_lng" REAL,
  "geolocation_city" TEXT,
  "geolocation_state" TEXT
)
Adding ddl: CREATE TABLE "order_items" (
"order_id" TEXT,
  "order_item_id" INTEGER,
  "product_id" TEXT,
  "seller_id" TEXT,
  "shipping_limit_date" TEXT,
  "price" REAL,
  "freight_value" REAL
)

Add of existing embedding ID: 736b8496-e00e-5765-8ed6-018bd154f2b2-ddl
Insert of existing embedding ID: 736b8496-e00e-5765-8ed6-018bd154f2b2-ddl
Add of existing embedding ID: 828e1ae1-5034-5100-8760-cdbe75608786-ddl
Insert of existing embedding ID: 828e1ae1-5034-5100-8760-cdbe75608786-ddl

Adding ddl: CREATE TABLE "order_payments" (
"order_id" TEXT,
  "payment_sequential" INTEGER,
  "payment_type" TEXT,
  "payment_installments" INTEGER,
  "payment_value" REAL
)
Adding ddl: CREATE TABLE "order_reviews" (
"review_id" TEXT,
  "order_id" TEXT,
  "review_score" INTEGER,
  "review_comment_title" TEXT,
  "review_comment_message" TEXT,
  "review_creation_date" TEXT,
  "review_answer_timestamp" TEXT
)

Add of existing embedding ID: ae55fc73-d658-5a20-970c-693b702a987a-ddl
Insert of existing embedding ID: ae55fc73-d658-5a20-970c-693b702a987a-ddl
Add of existing embedding ID: bea44f99-dce6-5ebf-bea5-f6418654fae9-ddl
Insert of existing embedding ID: bea44f99-dce6-5ebf-bea5-f6418654fae9-ddl

Adding ddl: CREATE TABLE "orders" (
"order_id" TEXT,
  "customer_id" TEXT,
  "order_status" TEXT,
  "order_purchase_timestamp" TEXT,
  "order_approved_at" TEXT,
  "order_delivered_carrier_date" TEXT,
  "order_delivered_customer_date" TEXT,
  "order_estimated_delivery_date" TEXT
)
Adding ddl: CREATE TABLE "products" (
"product_id" TEXT,
  "product_category_name" TEXT,
  "product_name_lenght" REAL,
  "product_description_lenght" REAL,
  "product_photos_qty" REAL,
  "product_weight_g" REAL,
  "product_length_cm" REAL,
  "product_height_cm" REAL,
  "product_width_cm" REAL
)

Add of existing embedding ID: bf006bda-9b22-5813-8194-b2af2ed866c6-ddl
Insert of existing embedding ID: bf006bda-9b22-5813-8194-b2af2ed866c6-ddl
Add of existing embedding ID: e1c2cfb8-a076-5be8-b371-5f34d7cf9f40-ddl
Insert of existing embedding ID: e1c2cfb8-a076-5be8-b371-5f34d7cf9f40-ddl

Adding ddl: CREATE TABLE "leads_qualified" (
"mql_id" TEXT,
  "first_contact_date" TEXT,
  "landing_page_id" TEXT,
  "origin" TEXT
)
Adding ddl: CREATE TABLE "leads_closed" (
"mql_id" TEXT,
  "seller_id" TEXT,
  "sdr_id" TEXT,
  "sr_id" TEXT,
  "won_date" TEXT,
  "business_segment" TEXT,
  "lead_type" TEXT,
  "lead_behaviour_profile" TEXT,
  "has_company" INTEGER,
  "has_gtin" INTEGER,
  "average_stock" TEXT,
  "business_type" TEXT,
  "declared_product_catalog_size" REAL,
  "declared_monthly_revenue" REAL
)

Add of existing embedding ID: 320bb1d2-32d4-538d-ad69-7eebe10372d5-ddl
Insert of existing embedding ID: 320bb1d2-32d4-538d-ad69-7eebe10372d5-ddl

In [6]:
# Providing some documentation of the data
vn.train(documentation = "This is a comprehensive e-commerce dataset provided by Olist, a Brazilian e-commerce platform. The dataset contains information about orders, customers, products, and sellers, offering a rich source of data for analysis and insights generation.")

Add of existing embedding ID: eff52ff1-2419-587f-8df9-c29da33b55f0-doc
Insert of existing embedding ID: eff52ff1-2419-587f-8df9-c29da33b55f0-doc

Adding documentation....

'eff52ff1-2419-587f-8df9-c29da33b55f0-doc'

In [7]:
vn.train(sql="SELECT customer_state, \
       COUNT(*) AS total_customers, \
       SUM(CASE WHEN order_status = 'delivered' THEN 0 ELSE 1 END) AS churned_customers FROM orders o JOIN customers c ON o.customer_id = c.customer_id GROUP BY customer_state")

Info: Ollama parameters:
model=llama3.1:latest,
options={},
keep_alive=None
Info: Prompt Content:
[{"role": "system", "content": "The user will give you SQL and you will try to guess what the business question this query is answering. Return just the question without any additional explanation. Do not reference the table name in the question."}, {"role": "user", "content": "SELECT customer_state,        COUNT(*) AS total_customers,        SUM(CASE WHEN order_status = 'delivered' THEN 0 ELSE 1 END) AS churned_customers FROM orders o JOIN customers c ON o.customer_id = c.customer_id GROUP BY customer_state"}]

Add of existing embedding ID: ddf7175a-8d0f-5b73-a8df-a9482657dc5e-sql

Info: Ollama Response:
model='llama3.1:latest' created_at='2024-12-03T05:25:37.451021Z' done=True done_reason='stop' total_duration=9108539917 load_duration=872205583 prompt_eval_count=110 prompt_eval_duration=7394000000 eval_count=17 eval_duration=510000000 message=Message(role='assistant', content='What percentage of customers in each state have had their last order canceled or returned?', images=None, tool_calls=None)
Question generated with sql: What percentage of customers in each state have had their last order canceled or returned?
Adding SQL...

'c04f15b7-83e8-5b64-aefd-44cfcc240b2a-sql'

In [8]:
training_data = vn.get_training_data()
training_data

,id,question,content,training_data_type
0,176ee690-6620-5d56-901a-319f42a46a0c-sql,What percentage of customers in each state hav...,"SELECT customer_state, COUNT(*) AS tota...",sql
1,906487d3-53a7-5f6f-b54f-af441243748b-sql,How many product categories are there?,SELECT COUNT(DISTINCT product_category_name) F...,sql
2,ddf7175a-8d0f-5b73-a8df-a9482657dc5e-sql,how many product categories are present,SELECT COUNT(DISTINCT product_category_name) F...,sql
3,63e9cbae-d59a-5e21-a7a8-3aa04a3e24d8-sql,how many product categories are present,"SELECT product_category_name, COUNT(product_id...",sql
4,f3a67722-81df-5294-925c-9d97cdbfc57c-sql,how many product categories are present,"SELECT customer_state, \n COUNT(*) AS to...",sql
5,e79c21e2-445c-5c42-ac57-3b1206a74a49-sql,Show me customers demographics,"SELECT customer_state, COUNT(*) AS count FROM ...",sql
6,6f7e0e09-f6d2-5ad8-a3fb-922d29f1a034-sql,Calculate the average time taken to process or...,"SELECT order_status,AVG(julianday(order_approv...",sql
7,c92e92d5-e306-5a92-bbf2-9e0114c6cd53-sql,Calculate the average time taken to process or...,"SELECT order_status, AVG(julianday(order_appro...",sql
8,5bb9351e-52a6-54c5-aef3-1ede7d279e2e-sql,What is the trend of order count over time wit...,"SELECT strftime('%Y-%m', order_purchase_timest...",sql
9,10d383ad-7886-571b-a55a-dc70db953daa-sql,Get me the list of orders whose feedback score...,"SELECT order_id, review_score \nFROM order_rev...",sql
10,e271e575-58ad-556c-890e-041fb6da824b-sql,What are the cancelled orders along with their...,"SELECT o.order_id, o.order_status, r.review_co...",sql
11,f96185f6-4628-5d76-9f46-53bbe1f96692-sql,What are the cancelled orders along with their...,"SELECT o.order_id, o.order_status, r.review_co...",sql
12,75aa5193-1eb6-5dd8-809b-6ef3a1670469-sql,how many product categories are present,SELECT COUNT(DISTINCT product_category_name) F...,sql
13,55b81a15-4bd1-54ed-b217-628d0240038e-sql,how many unique products are there overall?,SELECT COUNT(DISTINCT product_id) FROM products,sql
14,0e2956ef-2285-554c-84fd-31f647ed0f8c-sql,How may products are there related to home and...,SELECT product_category_name_translation.produ...,sql
15,a666f1b7-8555-502c-85f9-6b304ce9f10c-sql,What is the distribution of orders status,"SELECT order_status, COUNT(*) AS total_orders ...",sql
16,c04f15b7-83e8-5b64-aefd-44cfcc240b2a-sql,What percentage of customers in each state hav...,"SELECT customer_state, COUNT(*) AS tota...",sql
0,2132c80d-07a5-53e8-adf5-f9564f042130-ddl,None,"CREATE TABLE ""product_category_name_translatio...",ddl
1,d14c24c1-1f4e-5060-a169-994fa192ed9d-ddl,None,"CREATE TABLE ""sellers"" (\n""seller_id"" TEXT,\n ...",ddl
2,b6c9016c-e2ab-5aea-a11d-1864b700f785-ddl,None,"CREATE TABLE ""customers"" (\n""customer_id"" TEXT...",ddl
3,48aae275-6e5d-527b-b7bd-4f174b991326-ddl,None,"CREATE TABLE ""geolocation"" (\n""geolocation_zip...",ddl
4,736b8496-e00e-5765-8ed6-018bd154f2b2-ddl,None,"CREATE TABLE ""order_items"" (\n""order_id"" TEXT,...",ddl
5,828e1ae1-5034-5100-8760-cdbe75608786-ddl,None,"CREATE TABLE ""order_payments"" (\n""order_id"" TE...",ddl
6,ae55fc73-d658-5a20-970c-693b702a987a-ddl,None,"CREATE TABLE ""order_reviews"" (\n""review_id"" TE...",ddl
7,bea44f99-dce6-5ebf-bea5-f6418654fae9-ddl,None,"CREATE TABLE ""orders"" (\n""order_id"" TEXT,\n ""...",ddl
8,bf006bda-9b22-5813-8194-b2af2ed866c6-ddl,None,"CREATE TABLE ""products"" (\n""product_id"" TEXT,\...",ddl
9,e1c2cfb8-a076-5be8-b371-5f34d7cf9f40-ddl,None,"CREATE TABLE ""leads_qualified"" (\n""mql_id"" TEX...",ddl
10,320bb1d2-32d4-538d-ad69-7eebe10372d5-ddl,None,"CREATE TABLE ""leads_closed"" (\n""mql_id"" TEXT,\...",ddl
0,eff52ff1-2419-587f-8df9-c29da33b55f0-doc,None,This is a comprehensive e-commerce dataset pro...,documentation

## Asking section

In [9]:
from vanna.flask import VannaFlaskApp

In [10]:
app = VannaFlaskApp(vn,allow_llm_to_see_data=True)
app.run()

Your app is running at:
http://localhost:8084
 * Serving Flask app 'vanna.flask'
 * Debug mode: on
huggingface/tokenizers: The current process just got forked, after parallelism has already been used. Disabling parallelism to avoid deadlocks...
To disable this warning, you can either:
	- Avoid using `tokenizers` before the fork if possible
	- Explicitly set the environment variable TOKENIZERS_PARALLELISM=(true | false)

Number of requested results 10 is greater than number of elements in index 1, updating n_results = 1
Number of requested results 10 is greater than number of elements in index 1, updating n_results = 1